[submodule "submodules/VERSAT"]
	path = submodules/VERSAT
	url = https://github.com/iobundle/iob-versat.git
[submodule "submodules/iob_eth"]
	path = submodules/iob_eth
	url = git@github.com:IObundle/iob-eth.git
